@using DBModel
@model Product

<div class="container mt-5" style="max-width: 600px;">

    <h2 class="text-center mb-4">Editar Produto</h2>

    @if (TempData["ErroMSG"] != null)
    {
        <div class="alert alert-danger">@TempData["ErroMSG"]</div>
    }

    @if (TempData["SucessoMSG"] != null)
    {
        <div class="alert alert-success">@TempData["SucessoMSG"]</div>
    }

    <form asp-action="EditProductConfirm" asp-controller="MyMarket" method="post" enctype="multipart/form-data">

        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="MarketID" />

        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input asp-for="productName" class="form-control" />
            @Html.ValidationMessageFor(x => x.productName)
        </div>

        <div class="mb-3">
            <label class="form-label">Descrição</label>
            <textarea asp-for="description" class="form-control"></textarea>
            @Html.ValidationMessageFor(x => x.description)
        </div>

        <div class="mb-3">
            <label class="form-label">Preço</label>
            <input asp-for="productPrice" class="form-control" />
            @Html.ValidationMessageFor(x => x.productPrice)
        </div>

        <div class="mb-3">
            <label class="form-label" for="imageUpload">Insira a imgem do produto</label>
            <input type="file" class="form-control" asp-for="image" accept="image/*" />
        </div>

        <button type="submit" class="btn btn-primary w-100">Salvar Alterações</button>
        <a asp-action="Edit" asp-controller="MyMarket" asp-route-id="@Model.MarketID" class="btn btn-secondary w-100 mt-2">Voltar</a>
    </form>
</div>